body{
    background-color: #5EB1BF;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #E7F0FE;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}